<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- JDBC Database Connection Settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">password@123456</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.bhawnagunwani.models.Student" />
		
		<!-- <mapping class="com.bhawnagunwani.models.Instructor" />
		<mapping class="com.bhawnagunwani.models.InstructorDetail" /> -->
		
		<!-- <mapping class="com.bhawnagunwani.models.Question" />
		<mapping class="com.bhawnagunwani.models.Answer" /> -->

	</session-factory>

</hibernate-configuration>        